  .card {
      text-align: center;
      box-sizing: border-box;
  }

  .card-img-top {
      height: 350px;
  }

  .grid {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 1rem;
  }

  .card-body-light {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }

  .card-body-dark {
    background-color: rgb(63, 62, 63);
    color: white;
  }