  .card {
      text-align: center;
      box-sizing: border-box;
  }

  .card-img-top {
      height: 350px;
  }

  .grid {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 1rem;
  }
  
/*   
  .grid > div {
    flex-basis: calc(20%-40px);
  } */
  